[Unit]
Description=AdvancedReactBoilerplate_dev
After=network.target

[Service]
Type=simple
User=nodejs
Environment=NODE_ENV=production
ExecStart=/usr/bin/node /home/ubuntu/AdvancedReactBoilerplate/dev/server.js dev
Restart=on-failure

LimitNOFILE=infinity
LimitCORE=infinity

StandardInput=null
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target